@font-face {
  font-family: 'Helvetica Neue';
  src: url('../public/fonts/helvetica-neue/HelveticaNeueMedium.otf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Zuume';
  src: url('../public/fonts/zuume/Zuume Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
